<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/8d0d2d9a42.js" crossorigin="anonymous"></script>
    <title>KONTAKT</title>
</head>

<body>
    <div class="contact-container">
       <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <a href="#" class="menu-button">GŁÓWNA</a>
                </li>
                <li>
                    <a href="#" class="menu-button">NASZE AUTA</a>
                </li>
                <li>
                    <a href="#" class="menu-button">F40 NA WESELE</a>
                </li>
                <li>
                    <a href="#" class="menu-button">FAQ</a>
                </li>
                <li>
                    <a href="#" class="menu-button">RABAT</a>
                </li>
                <li>
                    <a href="#" class="menu-button">KONTAKT</a>
                </li>
            </ul>
       </nav>
       <main class="contact-main">
            <div class="title">
                <h2>KONTAKT</h2>
            </div>
            <div id="contact-info">
                <div id="phone-numer-box">
                    <p id="phone-number-label">Infolinia</p>
                    <p id="phone-number">+48 791 371 715</p>
                </div>
                <div id="email-address-box">
                    <p id="email-address-label">e-mail</p>
                    <p id="email-address">electricCarRent@gmail.com</p>
                </div>
            </div>
            <div id="map">
            <img src="../img/porche.webp">
            </div>
       </main>
    </div>
</body>