<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
            <h1>Electric Car Rent</h1>
            <h3>The largest electric car rental company in Europe</h3>
            </div>
        <div class="sign-in-container">
            <form>
                <input name="email" type="text" placeholder="email">
                <input name="password" type="password" placeholder="password">
                <button>SIGN IN</button>
            </form>
        </div>
    </div>
</body>