@media only screen and (max-device-width: 420px)
{
    .container
    {
        flex-direction: column;
    }
    
    *
    {
        font-size: 36px;
    }
    
    .logo, .sign-in-container
    {
        width: 100%;
    }
    
    h1, h3
    {
        margin-left: 1vh;
        margin-right: 1vh;
    }

    form
    {
        margin:auto;
    }

    img
    {
        height: 10em;
        margin: 2em;
        margin-bottom: 0em;
        margin-top: 0em;
    }
}

/*for all*/
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #F3FAFF;
}

/*for all*/
h2{
    font-size: 5.2vh;
    font-weight: 500;
    margin: 0;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
    text-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.3);
}

/*for all*/
nav{
    height: 20vh;
    width: 100%;
    background: linear-gradient(180deg, #008A5D 0%, rgba(55, 193, 144, 0) 100%, rgba(0, 138, 93, 0) 100%);
    display: flex;
    justify-content: center;
}

/*for all*/
nav > img{
    width: 11vh;
    height: 11vh;
    margin-top: 4vh;
    padding-right: 2vh;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
}

/*for all*/
nav > ul{
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    padding: 0;
    font-size: 4vh;
}

/*for all*/
nav > ul > li{
    float: left;
}

/*for all*/
nav > ul > li a{
    display: inline-block;
    color: #F3FAFF;
    text-align: center;
    padding: 1.0vw;
    margin: 0.5vw;
    text-decoration: none;
    border-top: 0.4vh solid #F3FAFF;
    border-bottom: 0.4vh solid #F3FAFF;
    font-weight: 500;
    text-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
    
}

/*for all*/
nav > ul> li a:hover{
    color:#AD3E42;
    border-color: #AD3E42;
}

/*for all*/
.title{
    margin: 1vh;
    color: #F3FAFF;
}

/*for sign_in and register*/
.logo_and_title{
    width: 50%;
    text-align: center;
    margin: 3vw;
}

/*for sign_in and register*/
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*for sign_in and register*/
.logo_and_title > img{
    height: 20vh;
    width: 20vh;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
}

/*for sign_in and register*/
h1{
    font-size: 7.4vh;
    font-weight: 500;
    margin: 0;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
    text-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.3);
}

/*for sign_in and register*/
h3{
    font-size: 3.35vh;
    font-weight: 400;
    margin: 0;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
    text-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.3);
}

/*for sign_in and register*/
.sign-in-container, .register-container{
    width: 50%;
}

/*for sign_in and register*/
form.sign-in, form.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40vh;
    background: #D8F3FF;
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.3);
    border-radius: 5vh;
}

/*for sign_in and register*/
#sign-in-button, .register-button{
    width: 50%;
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 5vh;
    padding: 1vh;
    margin: 2vh;
    font-size: 2vh;
    line-height: 4vh;
    font-weight: 600;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
    color:#F3FAFF
}

/*for sign_in and register*/
#email, #pass{
    width: 50%;
    background-color: transparent;
    border: 0.25vh solid #7095B2;
    border-radius: 5vh;
    padding: 1vh;
    padding-left: 4vh;
    padding-right: 4vh;
    line-height: 4vh;
    margin: 2vh;
    font-weight: 400;
    font-size: 2vh;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
}

/*for our-cars*/
.our-cars-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10vh;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*for our-cars*/
.our-cars-main{
    height: 236vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*for our-cars*/
.search-bar > form > input{
    box-sizing: border-box;
    height: 8vh;
    display: flex;
    justify-content: center;
    margin: 2vh;
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.3);
    width: 30vw;
    border: 0.25vh solid #7095B2;
    background: #D8F3FF;
    border-radius: 5vh;
    font-size: 3vh;
    padding: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    font-weight: 400;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0, 0, 0, 0.25));
}

.row-of-cars
{
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    display: flex;
}

.car
{
    margin-left: 2vh;
    margin-right: 2vh;
}

.car > img
{
    width: 40vh;
    height: 23.2vh;
    border-width: 0.5vh 0.5vh 0 0.5vh;
    border-style: solid;
    border-color: #2D3E50;
    border-radius: 6.25vh 6.25vh 0 0;
}

.background-of-car
{
    width: 40vh;
    height: 23.5vh;
    background-color: #00A396;
    border-width: 0 0.5vh 0.5vh 0.5vh;
    border-style: solid;
    border-color: #2D3E50;
    border-radius: 0 0 6.25vh 6.25vh;
}

.background-of-car > p
{
    margin: 0;
    text-align: center;
    line-height: 7.83vh;
    font-size: 2.6vh;
    font-weight: 500;
    text-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.3);
}

.background-of-car > img
{
    height: 7.83vh;
    display: block;
    margin: auto;
}

.car:hover
{
    color:#AD3E42;
}