/*DONE: all*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #F3FAFF;
    height: 100%;
}

#body2 {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #F3FAFF;
    height: 100vh;
}

/*DONE: all*/
h2 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: all*/
nav {
    width: 100%;
    background: linear-gradient(180deg, #008A5D 0%, rgba(55, 193, 144, 0) 100%, rgba(0, 138, 93, 0) 100%);
    display: flex;
    justify-content: center;
}

/*DONE: all*/
#logo {
    height: 6em;
    margin: 2.38em;
    margin-right: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*DONE: all*/
#logout {
    height: 6em;
    margin: 2.38em;
    margin-left: 0;
    filter: invert(91%) sepia(6%) saturate(932%) hue-rotate(194deg) brightness(104%) contrast(105%);
}

/*DONE: all*/
nav > ul {
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    padding: 0;
    margin: 2em;
}

/*DONE: all*/
nav > ul > li {
    float: left;
}

/*DONE: all*/
nav > ul > li a {
    display: inline-block;
    color: #F3FAFF;
    text-align: center;
    padding: 0.5em;
    margin: 0.2em;
    font-size: 2.3em;
    text-decoration: none;
    border-top: 0.16em solid #F3FAFF;
    border-bottom: 0.16em solid #F3FAFF;
    font-weight: 500;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);

}

/*DONE: all*/
nav > ul > li a:hover {
    color: #AD3E42;
    border-color: #AD3E42;
}

/*DONE: all*/
.title {
    margin-bottom: 2em;
    color: #F3FAFF;
    text-align: center;
}

/*DONE: all*/
#sign-in-button:hover, #click-to-switch:hover, #amount-of-days-button:hover, #register-button:hover, #summary-button:hover, #see-more-button:hover, #submit-data-button:hover, #change-user-data:hover, #submit-change-password-button:hover, #goto-admin-page-button:hover, #submit-change-car-price-button:hover, #add-new-car-button:hover {
    color: #AD3E42;
}

/*DONE: all*/
#logout:hover {
    filter: invert(22%) sepia(85%) saturate(1724%) hue-rotate(334deg) brightness(92%) contrast(76%);
}

/*DONE: sign_in and register*/
.logo_and_title {
    width: 50%;
    text-align: center;
    margin: 3%;
}

/*DONE: sign_in and register*/
.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*DONE: sign_in and register*/
.logo_and_title > img {
    width: 20vh;
    width: 30%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*for sign_in and register*/
h1 {
    font-size: 4.5em;
    font-weight: 500;
    margin: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*for sign_in and register*/
h3 {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: sign_in and register*/
.sign-in-container, .register-container {
    width: 50%;
}

/*DONE: sign_in and register*/
form.sign-in, form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 43vh;
    background: #D8F3FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
}

/*DONE: sign_in and register*/
#sign-in-button, #register-button {
    width: 50%;
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 2%;
    margin: 4%;
    font-size: 1.56em;
    line-height: 200%;
    font-weight: 600;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color: #F3FAFF
}

#add-new-car-label {
    margin-top: 2%;
}

/*DONE: sign_in and register*/
#email, #pass, .email, .pass {
    width: 50%;
    background-color: transparent;
    border: 2px solid #7095B2;
    border-radius: 50px;
    padding: 1vh;
    padding-left: 6%;
    padding-right: 6%;
    line-height: 1em;
    margin: 4%;
    font-weight: 400;
    font-size: 1.56em;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*DONE: sign_in and register*/
#click-to-switch {
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    line-height: 100%;
    font-weight: 400;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color: #F3FAFF
}

/*DONE: input-data*/
.data-input-container {
    width: 50%;
}

/*DONE: input-data*/
form.data-input {
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background: #D8F3FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
}

/*DONE: input-data*/
.data-input > input {
    display: flex;
    font-size: 1.2em;
    padding: 0.75em;
    margin: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background: #D8F3FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
    border: 2px solid #2D3E50;
}

/*DONE: input-data*/
#submit-data-button, #submit-change-car-price-button, #add-new-car-button {
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0.5em;
    font-size: 1.56em;
    font-weight: 600;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color: #F3FAFF
}


/*DONE: our-cars*/
.our-cars-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: our-cars*/
.our-cars-main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: our-cars*/
#input-search-bar {
    box-sizing: border-box;
    height: 2.5em;
    margin-bottom: 1em;
    border: 2px solid #7095B2;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: #D8F3FF;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
    font-weight: 400;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*TO DELETE*/
.row-of-cars {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*DONE: our cars*/
.car {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

/*DONE: our cars*/
.cars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*DONE: our cars*/
.car > img {
    height: 13vw;
    border: 4px solid #2D3E50;
    border-radius: 25px 25px 0px 0px;
}

/*DONE: our cars*/
.background-of-car {
    background: #00A396;
    border-width: 0px 4px 4px 4px;
    border-style: solid;
    border-color: #2D3E50;
    border-radius: 0px 0px 25px 25px;
}

/*DONE: our cars*/
.background-of-car > p {
    margin: 0;
    text-align: center;
    line-height: 3em;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: our cars*/
.background-of-car > img {
    height: 5em;
    display: block;
    margin: auto;
}

/*DONE: our cars*/
.car:hover {
    color: #AD3E42;
}

/*TO DELETEs*/
.row-of-cars > a {
    text-decoration: none;
    color: #F3FAFF;
}

/*DONE: our cars*/
.cars > a {
    text-decoration: none;
    color: #F3FAFF;
}

/*DONE: contact*/
.contact-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: contact*/
.contact-main {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: contact*/
#contact-info {
    display: flex;
    width: 100%;
}

/*DONE: contact*/
#phone-numer-box {
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: contact*/
#email-address-box {
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: contact*/
#map > img {
    margin: 1em;
    border: 3px solid #2D3E50;
    border-radius: 25px;
    height: 30em;
}

/*DONE: faq*/
.faq-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: faq*/
.faq-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: faq*/
.question {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.1em;
    color: #F3FAFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: #00A396;
    border-radius: 25px 25px 0px 0px;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*DONE: faq*/
.answer {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    color: #00A396;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: #F3FAFF;
    border-radius: 0px 0px 25px 25px;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1.5em;
}

/*DONE: faq*/
.answer > p, .question > p {
    margin: 0;
}

/*DONE: f40*/
.f40-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: f40*/
.f40-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: f40 and one-car*/
#car-name-and-price {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #00A396;
    border-width: 4px 4px 0px 4px;
    border-style: solid;
    border-color: #2D3E50;
    border-radius: 25px 25px 0px 0px;
}

/*DONE: f40 and one-car*/
#car-name {
    padding-left: 2em;
    width: 70%;
    float: left;
    font-size: 2.25em;
    line-height: 2.25em;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

/*DONE: f40 and one-car*/
#car-price {
    width: 30%;
    float: right;
    text-align: right;
    font-size: 2.25em;
    line-height: 2.25em;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding-right: 2em;
}

/*DONE: f40 and one-car*/
#car-photo {
    width: 100%;
    border: 4px solid #2D3E50;
    border-radius: 0px 0px 25px 25px;
}

/*DONE: f40*/
#f40-all-description-box {
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

/*DONE: f40*/
.f40-description-box {
    background: #2D3E50;
    border-radius: 25px;
    margin: 2em;
}

/*DONE: f40*/
.f40-text {
    padding: 2em;
}

/*DONE: f40*/
.f40-description-title {
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: f40*/
.f40-description-content, .f40-description-subtitle {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: discount*/
.discount-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: discount*/
.discount-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: discount*/
#first-part-of-text {
    margin-top: 0;
}

/*DONE: discount*/
.discount-text-box > p {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: discount*/
#discount-all-box {
    display: flex;
}

/*DONE: discount*/
.discount-box {
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
    margin: 1em;
    width: 20%;
}

/*DONE: discount*/
.discount-text {
    color: #F3FAFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    text-align: center;
    padding: 1em;
}

/*DONE: discount*/
.discount-title {
    font-weight: 500;
    font-size: 2em;
    margin: 0;
}

/*DONE: discount*/
.discount-content {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.1em;
}

/*DONE: one-car*/
.one-car-container, .admin-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: one-car*/
.one-car-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: one-car*/
.description {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2em;
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
}

/*DONE: one-car*/
.description .info {
    display: flex;
    flex-direction: column;
    width: 50%;
}


/*DONE: one-car*/
#booking-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
}

/*DONE: one-car*/
#booking {
    text-align: center;
    display: flex;
}

/*DONE: one-car*/
#date {
    display: flex;
    flex-direction: column;
    text-align: right;
}

/*DONE: one-car*/
.date-label {
    font-size: 2em;
    margin-left: 2em;
    font-weight: 400;
}

/*DONE: booking*/
#start-date {
    padding: 0.5em;
    margin: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.56em;
    border: 4px solid #2D3E50;
    border-radius: 50px;
    font-weight: 400;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

/*DONE: one-car*/
#end-date {
    padding: 0.5em;
    margin: 2em;
    margin-top: 0;
    margin-right: 1em;
    font-size: 1.56em;
    border: 4px solid #2D3E50;
    border-radius: 50px;
    font-weight: 400;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

/*DONE: one-car*/
#amount-of-days-button {
    width: 59%;
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 1em;
    margin: 2em;
    margin-left: 1em;
    font-size: 1.56em;
    line-height: 2em;
    font-weight: 600;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color: #F3FAFF
}

/*DONE: one-car*/
.box {
    background: #2D3E50;
    border-radius: 25px;
}

/*DONE: one-car*/
.box > p {
    margin: 0;
    padding: 2em;
    text-align: justify;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: one-car*/
#first-box {
    height: 50%;
    margin: 2em 1em 1em 2em;
}

/*DONE: one-car*/
#first-box > p {
    height: 75%;
    display: flex;
    align-items: center;
    line-height: 1.5em;
}

/*DONE: one-car*/
#second-box {
    height: 50%;
    margin: 1em 1em 2em 2em;
    text-align: left;
}

/*DONE: one-car*/
#second-box > p {
    height: 75%;
    display: flex;
    align-items: center;
    line-height: 1.5em;
}

/*DONE: one-car*/
#third-box {
    height: 100%;
    margin: 2em 2em 2em 1em;
    width: 50%;
}

/*DONE: one-car*/
table {
    width: 100%;
    border: 4px solid #2D3E50;
    border-radius: 25px;
    height: 50vh;
    text-align: center;
    font-size: 1.1em;
}

/*DONE: one-car*/
table tr th:nth-child(1), .rent-table-header-left {
    border-radius: 25px 0 0 0;
    background: #AD3E42;
}

/*DONE: one-car*/
table tr th:nth-child(2), .rent-table-header-right {
    border-radius: 0 25px 0 0;
    background: #AD3E42;
}

#rent-table-header-center {
    background: #AD3E42;
    border-radius: unset;
}

/*DONE: one-car*/
table tr:nth-child(even) {
    background: #00A396;
}

table tr:nth-child(odd) {
    background: #00B0B9;
}

#rent-table {
    background-color: #2D3E50;
    height: auto;
}

#rent-table td, #rent-table th {
    line-height: 3em;
}

/*DONE: one-car*/
#first-column-last-row, tr:last-child > td:first-child {
    border-radius: 0 0 0 25px;
}

/*DONE: one-car*/
#second-column-last-row, tr:last-child > td:last-child {
    border-radius: 0 0 25px 0;
}

/*DONE: booking*/
.summary {
    width: 90%;
    text-align: center;
}

/*DONE: booking*/
#summary-title {
    font-size: 5.5em;
    margin: 0.5em;
}

/*DONE: booking*/
#summary-content {
    font-size: 3em;
    margin: 0.5em;
    line-height: 1.5em;
}

/*DONE: booking*/
#summary-button {
    width: 50%;
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 1em;
    margin: 2em;
    font-size: 1.56em;
    line-height: 1em;
    font-weight: 600;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color: #F3FAFF
}

.main-page-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

.main-page-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

#see-more {
    width: 100%;
}

#see-more-button {
    width: 100%;
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.56em;
    line-height: 2em;
    font-weight: 600;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color: #F3FAFF
}

.main-box-background {
    width: 100%;
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
    margin-bottom: 2em;
}

#car-transporter-photo > img {
    width: calc(100% - 4em);
    margin: 2em 2em 0.5em;
    border: 4px solid #2D3E50;
    border-radius: 25px;
}

#car-transporter-description {
    width: calc(100% - 4em);
    margin: 2em 2em 0.5em;
    background: #2D3E50;
    border-radius: 25px;

}

#car-transporter-description > p {
    font-weight: 500;
    font-size: 2em;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5em 1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.main-icon-and-description {
    display: flex;
    flex-direction: row;
    padding: 2em;
}

.main-icon {
    background: #2D3E50;
    border-radius: 25px;
    width: 20%;
    margin-right: 1em;
}

.main-icon > i {
    width: 100%;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.main-description {
    background: #2D3E50;
    border-radius: 25px;
    width: 80%;
    margin-left: 1em;

}

.main-description-title {
    margin: 0.25em 2em 0 2em;
    font-size: 3em;
    font-weight: 500;
    line-height: 2.75em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.main-description-content {
    margin: 0 2em 0.5em 2em;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.car > img, .car-img {
    width: 20.8vw;
    height: 13.9vw;
}

#account-all-columns {
    display: flex;
    width: 100%;
}

.account-col {
    width: 50%;
}

.account-sub-title {
    text-align: center;
}

.account-text {
    margin: 0;
    text-align: left;
    line-height: 2.5em;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
}

#change-user-data, #submit-change-password-button, #goto-admin-page-button {
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0.6em 2em;
    font-size: 1.56em;
    margin-top: 2%;
    margin-bottom: 4%;
    line-height: 150%;
    font-weight: 600;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color: #F3FAFF
}

#all-input-change-password {
    display: grid;
}

.input-change-password {
    background: #D8F3FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
    font-size: 1.5em;
    text-align: center;
    padding: 0.25em;
    margin-bottom: 4%;
}

.account-sub-title {
    margin-bottom: 0.5em;
}

.account-main {
    width: 80%;
    text-align: -webkit-center;
    margin-bottom: 5em;
}

#account-user-data {
    text-align-last: center;
}

#change-password {
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D8F3FF;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    border-radius: 28px;
    width: 50%;
}

#message > p {
    font-size: 1.5em;
    color: green;
    text-align: center;
    margin: 1em;
    background-color: #D8F3FF;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    border-radius: 28px;
    padding-inline: 1em;
    width: max-content;
}

#error-message > p, #error-message-car-price > p, #error-message-admin-access > p {
    font-size: 1.5em;
    color: red;
    text-align: center;
    margin: 1em;
}

#error-message-car-price > p {
    background-color: #D8F3FF;
    width: max-content;
    padding-inline: 1em;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    border-radius: 28px;
}

#error-message-admin-access > p {
    background-color: #D8F3FF;
    width: max-content;
    padding-inline: 1em;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    border-radius: 28px;
    margin-bottom: unset;
}

#booking-message {
    font-size: 3em;
    color: #F3FAFF;
}

#goto-admin-page {
    margin-top: 3em;
}

.input-car-price, .select-car-name, .input-car-time-to-100, .input-car-name, .input-car-price {
    border: 2px solid #7095B2;
    border-radius: 50px;
    padding: 1vh;
    padding-left: 2%;
    background: #D8F3FF;
    line-height: 1em;
    margin: 1%;
    font-weight: 400;
    font-size: 1.56em;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-right: 1em solid transparent;
}

.option {
    font-size: 0.5em
}

.no-valid {
    border: 3px solid red;
    border-radius: 50px;
    box-shadow: 0 4px 4px red;
    outline: none;
}

@media only screen and (max-device-width: 1874px) {
    nav > ul {
        padding: unset;
        margin: 2em 1em;
    }

    #add-new-car {
        display: grid;
    }

    nav > ul > li {
        width: 50%;
        text-align: center;
    }

    nav > ul > li a {
        width: 80%;
        font-size: 2em;
    }

    #logo {
        align-self: center;
    }

    .logout-button {
        align-self: center;
    }

    .main-description-title {
        line-height: unset;
        font-size: 1.7em;
        margin: 0.5em 2em 0 2em;
    }

    .main-description-content {
        font-size: 1.2em;
        margin: 0 2em 1em 2em;
    }

    .main-icon > i {
        font-size: 5em;
    }

    #car-transporter-description > p {
        padding: 2em;
    }

    #date {
        text-align: center;
    }

    #last-button {
        width: 100%;
    }

    .date-label {
        margin: unset;
    }

    #first-date {
        margin-top: 1em;
    }

    #start-date, #end-date {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }


    .description {
        display: unset;
        width: 100%;
    }

    .description .info {
        display: unset;
        width: 100%;
    }

    #first-box {
        margin: 2em 2em 1em;
    }

    #second-box {
        margin: 1em 2em;
    }

    #third-box {
        margin: 1em 2em 2em;
        width: unset;
    }

    table {
        height: 20vh;
    }

    #discount-all-box {
        display: flow-root;
    }

    .discount-box {
        width: unset;
    }

    #contact-info {
        display: contents;
    }

    #phone-numer-box {
        width: unset;
    }

    #email-address-box {
        width: unset;
    }

    .container {
        flex-direction: column;
    }

    .logo_and_title {
        width: 80%;
        margin-bottom: 5em;
    }

    .sign-in-container, .register-container {
        width: 80%;
        text-align: -webkit-center;
    }

    form.sign-in, form.register {
        height: unset;
        width: 80%;
    }

    .logo_and_title > img {
        width: 50%;
    }

    h1 {
        font-size: 6em;
    }

    h3 {
        font-size: 2.5em;
    }

    #click-to-switch {
        font-size: 1.56em;
    }

    #account-all-columns {
        display: unset;
    }

    .account-col {
        width: unset;
    }

    #change-password {
        margin-bottom: 4%;
    }

    #update-car-price {
        display: grid;
    }

    .car > img, .car-img {
        width: 20.8vw;
        height: 13.9vw;
    }
}

@media only screen and (min-device-width: 3000px) {
    h1 {
        font-size: 9em;
    }

    h3 {
        font-size: 4em;
    }

    #email, .email, .pass, #pass, #sign-in-button, #register-button {
        font-size: 3.2em;
    }

    #click-to-switch {
        font-size: 2em;
    }

    #car-transporter-description > p {
        font-size: 4em;
    }

    h2 {
        font-size: 6em;
    }

    .background-of-car > p {
        font-size: 3em;
        line-height: 2em;
    }

    .background-of-car > img {
        height: 7em;
    }

    #see-more-button {
        font-size: 3em;
    }

    .main-description-title {
        font-size: 6em;
    }

    .main-description-content {
        font-size: 3em;
    }

    .main-icon > i {
        font-size: 20em;
    }

    #logo, #logout {
        height: 12em;
    }

    nav > ul > li a {
        font-size: 4.3em;
    }

    .car > img, .car-img {
        width: 20.8vw;
        height: 13.9vw;
    }

    #input-search-bar, .discount-text-box > p {
        font-size: 3em;
    }

    #car-name, #car-price {
        font-size: 4.5em;
    }

    .date-label {
        font-size: 4em;
    }

    #start-date, #end-date, #amount-of-days-button, #add-new-car-button, #change-user-data, #submit-change-password-button, #goto-admin-page-button, #submit-data-button, .input-car-price, .select-car-name, #submit-change-car-price-button, #summary-button, .input-car-price {
        font-size: 3.12em;
    }

    .f40-description-content, .f40-description-subtitle, .box > p {
        font-size: 1.8em;
    }

    .f40-description-title, .discount-content {
        font-size: 2.2em;
    }

    .question, .answer, .input-change-password {
        font-size: 3em;
    }

    #phone-numer-box, #email-address-box {
        font-size: 5em;
    }

    #map > img {
        height: 70em;
    }

    table {
        font-size: 2.2em;
    }

    .account-sub-title {
        font-size: 5em;
    }

    .account-text {
        font-size: 3em;
    }

    .data-input > input {
        font-size: 2.4em;
    }

    #error-message > p, #error-message-car-price > p, #error-message-admin-access > p {
        font-size: 3em;
    }

    #booking-message > p {
        font-size: 2em;
    }

    .input-car-name, .input-car-time-to-100 {
        font-size: 3.12em;
    }

    #message > p {
        font-size: 3em;
    }
}