/*DONE: all*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #F3FAFF;
}

/*DONE: all*/
h2{
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: all*/
nav{
    width: 100%;
    background: linear-gradient(180deg, #008A5D 0%, rgba(55, 193, 144, 0) 100%, rgba(0, 138, 93, 0) 100%);
    display: flex;
    justify-content: center;
}

/*DONE: all*/
#logo{
    height: 6em;
    margin: 2.38em;
    margin-right: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*DONE: all*/
#logout{
    height: 6em;
    margin: 2.38em;
    margin-left: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*DONE: all*/
nav > ul{
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    padding: 0;
    margin: 2em;
}

/*DONE: all*/
nav > ul > li{
    float: left;
}

/*DONE: all*/
nav > ul > li a{
    display: inline-block;
    color: #F3FAFF;
    text-align: center;
    padding: 0.5em;
    margin: 0.2em;
    font-size: 2.3em;
    text-decoration: none;
    border-top: 0.16em solid #F3FAFF;
    border-bottom: 0.16em solid #F3FAFF;
    font-weight: 500;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
    
}

/*DONE: all*/
nav > ul> li a:hover{
    color:#AD3E42;
    border-color: #AD3E42;
}

/*DONE: all*/
.title{
    margin-bottom: 2em;
    color: #F3FAFF;
}

/*DONE: sign_in and register*/
.logo_and_title{
    width: 50%;
    text-align: center;
    margin: 3%;
}

/*DONE: sign_in and register*/
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*DONE: sign_in and register*/
.logo_and_title > img{
    width: 20vh;
    width: 30%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*for sign_in and register*/
h1{
    font-size: 4.5em;
    font-weight: 500;
    margin: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*for sign_in and register*/
h3{
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: sign_in and register*/
.sign-in-container, .register-container{
    width: 50%;
}

/*DONE: sign_in and register*/
form.sign-in, form.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 43vh;
    background: #D8F3FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
}

/*DONE: sign_in and register*/
#sign-in-button, #register-button{
    width: 50%;
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 2%;
    margin: 4%;
    font-size: 1.56em;
    line-height: 200%;
    font-weight: 600;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color:#F3FAFF
}

/*DONE: sign_in and register*/
#email, #pass{
    width: 50%;
    background-color: transparent;
    border: 2px solid #7095B2;
    border-radius: 50px;
    padding: 1vh;
    padding-left: 6%;
    padding-right: 6%;
    line-height: 1em;
    margin: 4%;
    font-weight: 400;
    font-size: 1.56em;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

#click-to-switch{
    background: #0097FF;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    line-height: 100%;
    font-weight: 400;
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.25));
    color:#F3FAFF
}

/*DONE: our-cars*/
.our-cars-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: our-cars*/
.our-cars-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: our-cars*/
#input-search-bar {
    box-sizing: border-box;
    height: 2.5em;
    margin-bottom: 1em;
    border: 2px solid #7095B2;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: #D8F3FF;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
    font-weight: 400;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*DONE: our cars*/
.row-of-cars{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*DONE: our cars*/
.car{
   margin: 1em;
}

/*DONE: our cars*/
.car > img{
    width: 27em;
    border: 4px solid #2D3E50;
    border-radius: 25px 25px 0px 0px;
}

/*DONE: our cars*/
.background-of-car{
    background: #00A396;
    border-width: 0px 4px 4px 4px;
    border-style: solid;
    border-color: #2D3E50;
    border-radius: 0px 0px 25px 25px;
}

/*DONE: our cars*/
.background-of-car > p{
    margin: 0;
    text-align: center;
    line-height: 3em;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: our cars*/
.background-of-car > img{
    height: 5em;
    display: block;
    margin: auto;
}

/*DONE: our cars*/
.car:hover{
    color:#AD3E42;
}

/*DONE: our cars*/
.row-of-cars > a{
    text-decoration: none;
    color: #F3FAFF;
}

/*DONE: contact*/
.contact-container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: contact*/
.contact-main{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: contact*/
#contact-info{
    display: flex;
    width: 100%;
}

/*DONE: contact*/
#phone-numer-box{
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: contact*/
#email-address-box{
    width: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: contact*/
#map > img{
    margin: 1em;
    border: 3px solid #2D3E50;
    border-radius: 25px;
}

/*DONE: faq*/
.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: faq*/
.faq-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: faq*/
.question{
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.1em;
    color: #F3FAFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: #00A396;
    border-radius: 25px 25px 0px 0px;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*DONE: faq*/
.answer{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    color: #00A396;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: #F3FAFF;
    border-radius: 0px 0px 25px 25px;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1.5em;
}

/*DONE: faq*/
.answer > p, .question > p{
    margin: 0;
}

/*DONE: f40*/
.f40-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: f40*/
.f40-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: f40 and one-car*/
#car-name-and-price{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #00A396;
    border-width: 4px 4px 0px 4px;
    border-style: solid;
    border-color: #2D3E50;
    border-radius: 25px 25px 0px 0px;
}

/*DONE: f40 and one-car*/
#car-name{
    padding-left: 2em;
    width: 70%;
    float: left;
    font-size: 2.25em;
    line-height: 2.25em;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

/*DONE: f40 and one-car*/
#car-price{
    width: 30%;
    float: right;
    text-align: right;
    font-size: 2.25em;
    line-height: 2.25em;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding-right: 2em;
}

/*DONE: f40 and one-car*/
#car-photo{
    width: 100%;
    border: 4px solid #2D3E50;
    border-radius: 0px 0px 25px 25px;
}

/*DONE: f40*/
#f40-all-description-box{
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*DONE: f40*/
.f40-description-box{
    background: #2D3E50;
    border-radius: 25px;
    margin: 2em;
}

/*DONE: f40*/
.f40-text{
    padding: 2em;
}

/*DONE: f40*/
.f40-description-title{
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: f40*/
.f40-description-contect, .f40-description-subtitle{
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.1em;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: discount*/
.discount-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: discount*/
.discount-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: discount*/
#first-part-of-text{
    margin-top: 0;
}

/*DONE: discount*/
.discount-text-box > p{
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: discount*/
#discount-all-box{
    display: flex;
}

/*DONE: discount*/
.discount-box{
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
    margin: 1em;
    width: 20%;
}

/*DONE: discount*/
.discount-text{
    color: #F3FAFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    text-align: center;
    padding: 1em;
}

/*DONE: discount*/
.discount-title{
    font-weight: 500;
    font-size: 2em;
    margin: 0;
}

/*DONE: discount*/
.discount-content{
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.1em;
}

/*DONE: one-car*/
.one-car-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #00B0B9 0%, #0269A4 100%);
}

/*DONE: one-car*/
.one-car-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/*DONE: one-car*/
.description{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2em;
    background: #00A396;
    border: 4px solid #2D3E50;
    border-radius: 25px;
}


/*DONE: one-car*/
.box{
    background: #2D3E50;
    border-radius: 25px;
}

/*DONE: one-car*/
.box > p{
    margin:0;
    padding: 2em;
    text-align: justify;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/*DONE: one-car*/
#first-box{
    height: 50%;
    margin:2em 1em 1em 2em;
}

/*DONE: one-car*/
#first-box > p{
    height: 75%;
    display: flex;
    align-items: center;
}

/*DONE: one-car*/
#secound-box{
    height: 50%;
    margin:1em 1em 2em 2em;
    text-align: left;
}

/*DONE: one-car*/
#secound-box > p{
    height: 75%;
    display: flex;
    align-items: center;
}

/*DONE: one-car*/
#third-box{
    height: 100%;
    margin: 2em 2em 2em 1em;
    width: 50%;
}

/*DONE: one-car*/
table{
    width: 100%;
    border: 4px solid #2D3E50;
    border-radius: 25px;
    height: 50vh;
    text-align: center;
}

/*DONE: one-car*/
table tr th:nth-child(1) {
    border-radius: 25px 0 0 0;
    background: #AD3E42;
}

/*DONE: one-car*/
table tr th:nth-child(2) {
    border-radius: 0 25px 0 0;
    background: #AD3E42;
}

/*DONE: one-car*/
table tr:nth-child(even){
    background: #00A396;
}

/*DONE: one-car*/
#first-column-last-row {
    border-radius: 0 0 0 25px;
}

/*DONE: one-car*/
#second-column-last-row{
    border-radius: 0 0 25px 0;
}